<!DOCTYPE html>
<html>
<head>
  <title><%- config.title %> | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <div class="container">
    <form autocomplete="off" class="needs-validation login">
      <div class="header">
        <h3 class="header-text">Welcome back</h3>
        <hr class="hr" />
      </div>
      <div class="form-group">
        <label class="email-label" for="email">Email</label>
        <input type="email" placeholder="johndoe@gmail.com" id="email" name="email" class="custom-input email" required>
      </div>
      <div class="form-group">
        <label class="password-label" for="password">Password</label>
        <input type="password" placeholder="••••••••••" id="password" name="password" class="password custom-input" required>
      </div>
      <div class="form-group">
        <button type="submit" class="custom-button">Login</button>
      </div>
      <div class="action">
        Don't have an account yet? <a href="/register">Register</a>
      </div>
    </form>
  </div>
</body>
</html>