<!DOCTYPE html>
<html>
<head>
  <title><%- config.title %> | Register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="./style.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <form class="needs-validation new" autocomplete="off" method="POST">
      <div class="header-title">
        <h3>Register</h3>
      </div>
      <div class="form-group">
        <label for="email" class="email-label">Email</label>
        <input type="email" placeholder="pucnity@gmail.com" class="custom-form" id="email" required />
        <div class="email-error invalid-feedback"></div>
      </div>
      <div class="form-group">
        <label for="username" class="username-label">Username</label>
        <input type="text" placeholder="username" class="custom-form" id="username" required />
        <div class="username-error invalid-feedback"></div>
      </div>
      <div class="form-group">
        <label for="birthday" class="birthday-label">Birthday</label>
        <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="MM/YY/DD" class="custom-form" id="birthday" name="birthday" required>
        <div class="birthday-error invalid-feedback"></div>
      </div>
      <div class="form-group">
        <label for="password" class="password-label">Password</label>
        <input type="password" placeholder="•••••••••••••" class="custom-form" id="password" required />
        <div class="password-error invalid-feedback"></div>
      </div><br />
      <div class="captcha">
        <div class="g-recaptcha" data-callback="captchaDone" data-sitekey="6Le9pmYdAAAAAHH6x0upkkrGDdp6Xs9EgV1D1k89"></div>
      </div>
      <input type="hidden" value="<%- csrfToken %>" id="_csrf" />
      <button disabled type="submit" class="submit-button">
        Register
      </button>
      <div class="action">
        Already have an account? <a href="/login">Login</a>
      </div>
    </form>
  </div>
  
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="./handle-register.js"></script>
</body>
</html>