body {
  background-color: #f3f7f8;
  color: #42445A;
  user-select: none;
  overflow-x: none;
  webkit-user-select: none;
  font-family: sans-serif;
}
label {
  color: black;
  font-weight: 500;
  font-size: 13px;
}
/* DEKSTOP FIRST */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}
.container form {
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) !important;
  padding: 30px !important;
}
.header-title {
  margin-bottom: 15px;
}
.submit-button {
  margin-top: 35px;
  width: 100%;
  background-color: blue;
  color: white;
  outline: none;
  font-size: 13px;
  padding: 8px;
  border: none;
  font-weight: bold;
  color: white;
  transition:
  transform 0.3s ease-in-out,
  opacity 0.4s ease;
  border-radius: 6px;
}
.submit-button:disabled {
  opacity: 0.4;
}
.submit-button:active {
  transform: scale(0.8);
}
.action {
  margin-top: 15px;
  font-weight: bold;
  color: black;
  font-size: 12px;
  text-align: center;
}
.action a {
  color: blue;
}
.custom-form {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.2s ease;
  padding: 7px 5px 7px 12px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.custom-form.is-invalid,
.custom-form.is-invalid:focus {
  border: 2px solid red;
}
.custom-form:focus {
  border: 2px solid blue;
}

@media (max-width: 767px) {
  .container {
    display: block;
  }
}